<launch>
  <node name="name_sample" pkg="basic_lecture" type="name_sample_node"
        output="screen"
        />

  <node name="$(anon name_sample)" pkg="basic_lecture" type="name_sample_node"
        output="screen"
        ns="foo"/>

  <node name="$(anon name_sample-1)" pkg="basic_lecture" type="name_sample_node"
        output="screen"
        ns="bar">
    <!-- This is private namespace parameter -->
    <param name="launch_str_param" value="bar_ns" type="str"/>
  </node>

  <param name="launch_str_param" value="no_ns" type="str"/>
  <param name="foo/launch_str_param" value="foo_ns" type="str"/>

  <node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/>

</launch>
